<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ruta</title>

    <meta name="application-name" content="ruta">

    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}images/logo/ruta_logo16.png"/>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ site.baseurl }}css/main.css">
  </head>
  <body>
    <nav class="nav">
      <div class="container">
        <div class="nav-left">
          
          <a class="nav-item is-brand" href="{{ site.baseurl }}">
            <img src="{{ site.baseurl }}images/logo/ruta_logo32w.png" class="ruta-logo">
            Ruta
          </a>
        </div>

        <div class="nav-right nav-menu">
          <a class="nav-item" href="{{ site.baseurl }}">
            Home
          </a>
          <a class="nav-item" href="{{ site.baseurl }}man/">
            Docs
          </a>
          <a class="nav-item" href="https://github.com/fdavidcl/ruta">
            Source code
          </a>
          <div class="nav-item">
            <p class="control">
              <a href="{{ site.baseurl }}get_started" class="button">Get started</a>
            </p>
          </div>
        </div>
      </div>
    </nav>

    <div class="hero has-text-centered">
      <div class="container">
        <div class="hero-body">
          <h1 class="title">{{ page.title }}</h1>
          {% if page.subtitle %}<h2 class="subtitle">{{ page.subtitle }}</h2>{% endif %}
        </div>
      </div>
    </div>

      {{ content }}
      

    <footer class="footer">
      <div class="container">
        ruta, rutavis © David Charte. All code is licensed under the <a href="https://www.gnu.org/licenses/gpl.html">GNU GPL v3 License</a> unless otherwise stated.
      </div>
    </footer>
  </body>
</html>
