---
---

nav.nav {
    background: #006656;

    .is-brand .ruta-logo {
        margin-right: .75rem;
    }
    
    .nav-item:not(.button) {
        color: #e0e0e0;
    }
    a.nav-item:not(.is-active):not(.button):hover {
        opacity: .85;
    }
}

.view {
    padding: 1.75rem 0;
}

a.card {
    display: block;
}

pre {
    max-height: 10rem;
    overflow-y: auto;
    padding: .5rem .75rem;
}
