---
layout: empty
title: Ruta
subtitle: Software for unsupervised deep architectures
---

<div class="hero has-text-centered">
  <div class="container">
    <div class="hero-body">
      <img src="{{ site.baseurl }}images/logo/ruta_logo64.png" />
      <h1 class="title">Ruta</h1>
      <h2 class="subtitle">Software for unsupervised deep architectures</h2>

      <div class="columns">
        <div class="column"></div>
        <div class="column">
          <p>Get uncomplicated access to unsupervised deep neural networks, from building their architecture to their training and evaluation</p>
        </div>
        <div class="column"></div>
      </div>

      <p class="hero-buttons">
        <a href="{{ site.baseurl }}get_started" class="button is-primary is-large">
          <span class="icon">
            <i class="fa fa-code"></i>
          </span>
          <span>Get started</span>
        </a>
        <a href="https://github.com/fdavidcl/ruta/releases" class="button is-large">  
          <span class="icon">
            <i class="fa fa-download"></i>
          </span>
          <span>Download</span>
        </a>
      </p>

    </div>
  </div>
</div>

<div class="hero is-info">
  <div class="container">
    <div class="hero-body">
      <div class="columns">
        <div class="column">
          <p class="title">Easy access</p>
          <p class="subtitle">to autoencoders and RBMs</p>
        </div>
        <div class="column">
          <p class="title">Train learners</p>
          <p class="subtitle">fast and flexibly, based on MXNet</p>
        </div>
        <div class="column">
          <p class="title">Visualize results</p>
          <p class="subtitle">with Rutavis</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="section">
  <div class="container">
      <h1 class="title">Ruta is free open source software</h1>
      <div class="columns">
        <div class="column">
          <h2 class="subtitle">fdavidcl/ruta</h2>
          <iframe src="https://ghbtns.com/github-btn.html?user=fdavidcl&repo=ruta&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>
        <div class="column">
          <h2 class="subtitle">fdavidcl/rutavis</h2>
          <iframe src="https://ghbtns.com/github-btn.html?user=fdavidcl&repo=rutavis&type=star&count=true&size=large" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </div>
      </div>
  </div>
</div>
